{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Restaurace v prvorepublikovém stylu, česká kuchyně zejména z lokálních suroviny, chomutovské pivo Karásek&Stülpner">
    <meta name="author" content="restaurace Republika">
    <meta name="keywords" content="restaurace, restaurace Chomutov, česká kuchyně, první republika">
    <meta http-equiv="Content-language" content="cs"> 

    <title>Restaurace Republika</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/agency.css' %}" media="screen" />

    <!-- lightbox -->
    <link href="{% static 'css/ekko-lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/ekko-lightbox.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
	<div class="embed-responsive embed-responsive-16by9" id="video_div">
    <figure class="overlay">
    <video autoplay loop class="embed-responsive-item" id="video">
    <source src="{% static 'video/restaurace.mp4' %}" type="video/mp4">
    </video>
    <figcaption>
    <a href="#" id="introbutton" class="btn btn-lg btn-info">Přeskočit intro</a></figcaption>
    </figure>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-head">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    <li>			
                	<a class="page-scroll" href="#page-top">Restaurace Republika</a>
		    </li>
                    <li>
                        <a class="page-scroll" href="#nabidka">Jídelní listy</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#fotogalerie">Fotogalerie</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">o nás</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakty a rezervace</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://www.karasekastulpner.cz" target="_blank">Pivovar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pozvanka" data-toggle="modal">Akce</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">

            </div>
        </div>
    </header>
    <header class="header2">
        <div class="container">
            <div class="intro-text">

            </div>
        </div>
    </header>

    <!-- Section top logo -->
            <div class="central-logo"><p></p></div>
    <div class="planepane">
    <section id="akce">
        <div class="container">
			<div class="row">
				<div class="col-sm-12 text-center pozvanka-palanova">
				<h4>Přijďte si k nám zlepšit den :-)</h4>
   				<img src="{% static 'images/pozvanky/pozvanka-1.jpg' %}" class="img-responsive"
					srcset = "{% static 'images/pozvanky/pozvanka_320-1.jpg' %} 320w, {% static 'images/pozvanky/pozvanka_480-1.jpg' %} 480w, {% static 'images/pozvanky/pozvanka_600-1.jpg' %} 600w, {% static 'images/pozvanky/pozvanka_768-1.jpg' %} 768w, {% static 'images/pozvanky/pozvanka_1024-1.jpg' %} 1024w" alt="Srdečně Vás zveme na vernisáž" />
				</div>
			</div>
		</div>
    </section>
    <!-- nabídka Section -->
        <section id="nabidka">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Jídelní listy</h2>
                        <h3 class="section-subheading text-muted">Dobré jídlo, dobré pití, základ všeho živobytí!</h3>
                    </div>
                </div>
                <div class="row text-center">
		{% for list in lists %}	
			{% if forloop.counter|divisibleby:3 %}<div class="row text-center">{% endif %}
                    <div class="col-md-4 nabidka-item">
                        <a href="#{{list.id}}" class="nabidka-link" data-toggle="modal">
                            <div class="nabidka-hover">
                                <div class="nabidka-hover-content">
                                    <i class="fa fa-{{ list.icon }} fa-3x"></i>
                                </div>
                            </div>
                            <div class="nabidka-caption">
                                <h4 class="service-heading">{{ list.name }}</h4>
                                <p class="text-muted">{{ list.list_long_description }}<br />Více...</p>
                            </div>
                        </a>
                    </div>
			{% if forloop.counter|divisibleby:3 %}</div>{% endif %}
		{% endfor %}
		{% for menu in polednimenu %}
                    <div class="col-md-4 nabidka-item">
                        <a href="#polednimenu" class="nabidka-link" data-toggle="modal">
                            <div class="nabidka-hover">
                                <div class="nabidka-hover-content">
                                    <i class="fa fa-{{ menu.icon }} fa-3x"></i>
                                </div>
                            </div>
                            <div class="nabidka-caption">
                                <h4 class="service-heading">{{ menu.name }}</h4>
                                <p class="text-muted">Od rána do večera s prázdným žaludkem? To by nešlo. Dejte si
                                    u nás poctivý český oběd<br />Více...</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
			</ul>
</div>
                </div>
        </section>


        <!-- fotogalerie Grid Section -->
        <section id="fotogalerie" class="fotogalerie">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">fotogalerie</h2>
                        <h3 class="section-subheading text-muted">Nahlédněte pod pokličku</h3>
                    </div>
                </div>
                <div class="col-sm-12">
				{% for gallery in galleries %}
					<div class="col-sm-4">
						<h5>{{ gallery.title }}</h5><br />
							<a href="{{ gallery.photos.first.image.url }}" data-toggle="lightbox" data-gallery="{{ gallery.title }}" >
                                <img src="{{ gallery.sample.1.get_thumbnail_url }}" class="img-responsive">
                            </a>
					{% for photo in gallery.photos.all %}
                            <div data-toggle="lightbox" data-gallery="{{ gallery.title }}" data-remote="{{ photo.image.url }}" data-title="{{ photo.title }}" class="img-responsive"></div>
					{% endfor %}
					</div>
				{% endfor %}
				</div>
			</div>
        </section>
        <!-- Team Section -->
        <section id="team">
		<div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">o nás</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="{% static 'images/team/terka.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Terka</h4>
                            <p class="text-muted">ministryně ranní pohody</p>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="{% static 'images/team/vita.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Víťa</h4>
                            <p class="text-muted">prezident</p>

                        </div>
                    </div>
					<div class="col-sm-4">
                        <div class="team-member">
                            <img src="{% static 'images/team/tom.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Tom</h4>
                            <p class="text-muted">ministr vína</p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="{% static 'images/team/tomik.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Tom</h4>
                            <p class="text-muted">ministr přes steaky</p>

                        </div>
                    </div>
	            <div class="col-sm-4">
                        <div class="team-member">
                            <img src="{% static 'images/team/danca.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Danča</h4>
                            <p class="text-muted">ministryně skvělých večeří</p>

                        </div>
					</div>
				<div class="col-sm-4">
                        <div class="team-member">
                            <img src="{% static 'images/team/tonda.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Tonda</h4>
                            <p class="text-muted">ministr piva</p>

                        </div>
                    </div>

                </div>
        <div class="row">
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="{% static 'images/team/ivca.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Ivča</h4>
                            <p class="text-muted">ministryně dobrého oběda</p>

                        </div>
                    </div>
			<div class="col-sm-6">
                        <div class="team-member">
                            <img src="{% static 'images/team/mara.jpg' %}" class="img-responsive img-circle" alt="">
                            <h4>Mára</h4>
                            <p class="text-muted">ministr kávy</p>

                        </div>
                    </div>
        </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large text-muted"></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Kontakty a rezervace</h2>
                        <h3 class="section-subheading text-muted">Máte svůj oblíbený stůl?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <strong>Kde je naše Republika?</strong><br>
                            ulice 28. října 1078/17<br>
                            Chomutov
                        </address>

                        <address>
                            <strong><a href="tel:607450006">tel: 607450006</a></strong>
                        </address>
			<address>
				<strong>email: <a href="mailto:republika@restauracerepublika.cz">republika@restauracerepublika.cz</a></strong>
			</address>
                    </div>
                    <div class="col-sm-6">
                        <address>
                            <strong>Máme otevřeno:</strong><br>
                            po - čt: 7 - 23<br>
                            pá: 7 - 24<br>
			    so: 11 - 24<br>
                            ne: 12 - 21
                        </address>  
                    </div>
                </div>
                <div class="row">
                    <h3 class="section-heading mapa">Vyberte si prosím stůl</h3>
                    <div class="col-sm-6 mapa">
                        <p class="section-subheading">Přízemí</p>
                        <a href="#mapa1modal" data-toggle="modal"><img src="{% static 'images/mapa1.png' %}"></a>

                    </div>
                    <div class="col-sm-6 mapa">
                        <p class="section-subheading">Sklepení</p>
                        <a href="#mapa2modal" data-toggle="modal"><img src="{% static 'images/mapa2.png' %}"></a>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- <span class="copyright">Copyright &copy; Your Website 2014</span> -->
                </div>
                <div class="col-md-4">
                    <!--
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    -->
                </div>
                <div class="col-md-4">
            </div>
        </div>
    </div>
</footer>

<!-- nabidka Modals -->
    <!-- nabidka Modal 1 -->

	{% include 'jidelni_listek/lists.html' %}
	{% for polmenu in polednimenu %}
    <div class="nabidka-modal modal fade" id="polednimenu" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ polmenu.name }}</h2>
                            <p class="item-intro text-muted">{{ start_week|date:"d.m.Y" }} - {{ end_week|date:"d.m.Y" }} (11:00 - 14:00)</p>
                            <div class="bs-example" data-example-id="hoverable-table">
                                <table class="table table-hover">
					{% include 'jidelni_listek/polednimenu.html' with list_id=polmenu.id %}
                                </table>
				<hr />
				<p class="bottom_line_description">K polednímu menu lze objednat 0,3 l sody s citronem za 10,-</p>
				<p class="bottom_line_description">Informace o alergenech poskytujeme na vyžádání u obsluhy.</p>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Zavřít</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% endfor %}
        <!-- fotogalerie Modals -->
    <!-- pozvanka -->
    <div class="mapa-modal modal fade" id="pozvanka" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h2>výstava KŮSOVÁ a ŠPORGY …OD KAŽDÉHO TROCHU</h2>
                            <img class="img-responsive img-centered" src="./pozvanka.jpg" alt="pozvánka">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Zavřít</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- fotogalerie Modal 1 -->
    <!-- fotogalerie Modal 2 -->
   	<!-- nabidka Modal 3 -->
    <!-- fotogalerie Modal 4 -->
    
    <!-- fotogalerie Modal 5 -->
    <!-- fotogalerie Modal -->


        <!-- mapa 1 Modal -->
        <div class="mapa-modal modal fade" id="mapa1modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <h2>Přízemí</h2>
                                <h3>Pro rezervaci volejte 607 450 006</h3>
                                <img class="img-responsive img-centered" src="{% static 'images/mapa1.png' %}" alt="mapa přízemí">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Zavřít</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- mapa 2 Modal -->
    <div class="mapa-modal modal fade" id="mapa2modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <h2>Přízemí</h2>
                            <h3>Pro rezervaci volejte 607 450 006</h3>
                            <img class="img-responsive img-centered" src="{% static 'images/mapa2.png' %}" alt="mapa přízemí">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Zavřít</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





	<script type="text/javascript"> 
		document.getElementById('introbutton').onclick = function check(e){ 
    	var target = (e && e.target) || (event && event.srcElement); 
    	var obj = document.getElementById('video_div'); 
    	if(target != obj){
        	obj.style.display='none';
        	document.getElementById('video').pause();
    	} 
	}
	</script>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- lightbox -->
    <script src="{% static 'js/ekko-lightbox.min.js' %}"></script>
    <script type="text/javascript">
            $(document).ready(function ($) {
                // delegate calls to data-toggle="lightbox"
                $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                    event.preventDefault();
                    return $(this).ekkoLightbox({
                        onShown: function() {
                            if (window.console) {
                                return console.log('Checking our the events huh?');
                            }
                        },
						onNavigate: function(direction, itemIndex) {
                            if (window.console) {
                                return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                            }
						}
                    });
                });

                //Programatically call
                $('#open-image').click(function (e) {
                    e.preventDefault();
                    $(this).ekkoLightbox();
                });
                $('#open-youtube').click(function (e) {
                    e.preventDefault();
                    $(this).ekkoLightbox();
                });

				// navigateTo
                $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
                    event.preventDefault();

                    var lb;
                    return $(this).ekkoLightbox({
                        onShown: function() {

                            lb = this;

							$(lb.modal_content).on('click', '.modal-footer a', function(e) {

								e.preventDefault();
								lb.navigateTo(2);

							});

                        }
                    });
                });


            });
        </script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/agency.js' %}"></script>
    <script type='text/javascript'>

        $(document).ready(function() {
            $('#myCarousel').carousel({
                interval: 10000
            })
        });

    </script>



</body>

</html>

